:root {
    --gray__background: #EEEFF1;
    --accent__color: #34547A;
    --silver__color: #EEEFF1;
    --white__color: #FFFFFF;
    --white__background: #FCFDFD;
    --black__color: #000;
    --p__color: #727272;
    --width__progressbar: 445px;
    --black1__bg: linear-gradient(to right, #434343 0%, black 100%);
    --black2__bg: #0a0a0a; 
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.text-h2 {
    color: var(--white__color);
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-p {
    color: var(--white__color);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.25px;
}

.text-h3 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 21px;
    padding-bottom: 146px;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

/* .switcher{
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
    background-color: #cb3838;
    width: 80px;
    height: 40px;
}
.switcher__h3{
   
    font-weight: 500;
    line-height: normal;
}
.white{
    background-color: var(--white__background);
    color:var(--black__color);
    border: none;
}
.black{
    background-color: var(--black__color);
    color:var(--white__color);
    border: none;
} */

/* .logo {
    width: 96px;
    height: 60px;
    margin-left: 16px;
} */

.header__flexbox {
    display: flex;
    justify-content: space-between;
}

.header__nav-ul {
    list-style: none;
    margin-right: 29px;

}

.header__nav-ul li {
    display: inline;
    list-style: none;
    margin-right: 42px;

}

.header__nav-ul li:last-child {
    margin-right: 0px;
}

.header__nav-ul li a {
    text-decoration: none;
    color: var(--white__color);
    text-transform: uppercase;
}

.header__nav-ul li a:hover {
    text-decoration: none;
    color: #F7654A;
    text-transform: uppercase;
}

.header__pc {
    max-width: 357px;
    height: 233.7px;
}

.header__grid {
    padding-top: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.header__body-h1 {
    color: var(--white__color);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.75px;
    margin-bottom: 35px;
}

.header__body-p {
    color: var(--gray__background);
    max-width: 540px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.25px;
    margin-bottom: 35px;
}

.header__body-button {
    background-color: var(--black2__bg);
    color: var(--white__color);
    max-width: 225px;
    padding: 25px 41px;

    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.25px;
    letter-spacing: 1.6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__body-button:hover {
    background-color: #F7654A;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .header__grid {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .header__nav-ul li {
        margin-right: 20px;

    }

    .header__nav-ul li:last-child {
        margin-right: 0px;
    }
    .header__nav{
        display: none;
    }
    .burger{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header__nav-ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header__pc {
        max-width: 300px;
        height: 100px;
    }
}

@media screen and (max-width: 350px) {
    .header__nav-ul {
       text-align: center;
    }
    .header__nav-ul li{
        margin-right: 0;
    }
    .logo {
        margin: 0;
    }
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-top: 120px;
    padding-bottom: 110px;
    max-width: 540px;
    margin: 0 auto;
}

.about__h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about{
    background-color: var(--black2__bg);
}

.about__p {

    text-align: center;
}

.numbers {
    background: var(--black1__bg);
}

.numbers__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.numbers__grid-flexbox {
    display: flex;
}

.numbers__grid-flexbox img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.numbers__text-p {
    color: var(--white__color)
}

@media screen and (max-width: 1280px) {
    .numbers__grid {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .numbers__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .about__p{
        margin-right: 10px;
        margin-left: 10px;
    }
}

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--black2__bg);
}

.skills__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__flexbox-item-left {
    align-items: center;
}

.skills__h2 {
    margin-bottom: 50px;
}

.skills__p {
    max-width: 128px;
    margin-bottom: 15px;
}

.progressbar__full {
    position: relative;
    width: var(--width__progressbar);
    height: 4px;
    background: var(--white__color);
    margin-bottom: 30px;
}

.progressbar__70 {
    position: absolute;
    width: 70%;
    height: 4px;
    background-color: #F7654A;
}

.progressbar__80 {
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: #F7654A;
}

.progressbar__60 {
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #F7654A;
}

.skills__flexbox-item-right {
    max-width: 555px;
}

.my__photo {
    max-width: 555px;
}

@media screen and (max-width: 1280px) {
    .skills__flexbox {
        flex-direction: column;
    }

    .skills__h2 {
        text-align: center;
    }

    .skills__flexbox-item-left {
        margin: 0 auto;
        justify-items: center;
    }

    .skills__p {
        margin: 0 auto 15px;
    }
}

@media screen and (max-width: 768px) {
    .my__photo {
        max-width: 250px;
    }

    .progressbar__full {
        width: 100%;
    }
}

.video__flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.video {
    background: var(--black1__bg);
    padding-top: 100px;
    padding-bottom: 100px;
}

.video__h2 {
    margin: 0 auto;
    text-align: center;
    max-width: 403px;
    margin-bottom: 50px;
}

.video__p {
    margin: 0 auto;
    max-width: 540px;
    text-align: center;
    margin-bottom: 57px;
}

.video__myvideo {
    margin: 0 auto;
    width: 1110px;
    height: 600px;
    cursor: pointer;
    box-shadow: rgba(222, 214, 214, 0.3) 0px 19px 38px, rgba(227, 208, 208, 0.22) 0px 15px 12px;
}

@media screen and (max-width: 1280px) {
    .video__myvideo {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .video__myvideo {
        max-width: 250px;
        height: 150px;
    }
}

.projects{
    background-color: var(--black2__bg);
}
.projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.eye {
    display: block;
    position: relative;
}

.eye:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.80) 0%, rgba(52, 84, 122, 0.80) 100%);
    opacity: 0;
}

.eye:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://github.githubassets.com/images/modules/dashboard/onboarding/vscode.svg") no-repeat center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.eye:hover:before,
.eye:hover:after {
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
}

@media screen and (max-width: 768px) {
    .projects__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.investors {
    background-color: var(--black2__bg);
}
.investors__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media screen and (max-width: 1280px) {
    .investors__grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px) {
    .investors__grid{
        grid-template-columns: repeat(1,1fr);
    }
}


.questions {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--black1__bg);
}
.questions__flexbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.questions__h2 {
    text-align: center;
    margin-bottom: 50px;
}
.questions__p {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 65px;
}

.questions__myform {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}
.firstline{
    display: flex;
    margin-bottom: 20px;
}

.secondline{
    margin-bottom: 50px;
}

.questions__myform-name {
    padding-left: 20px;
    border: none;
    width: 255px;
    height: 50px;
    margin-right: 30px;
}
.questions__myform-mail {
    padding-left: 20px;
    border: none;
    width: 255px;
    height: 50px;
}
.questions__myform-message {
    padding-top: 17px;
    padding-left: 20px;
    border: none;
    width: 540px;
    height: 175px;
}
.questions__myform-message::placeholder{
    transform: translateY(-70px);
}
.questions__myform-submit {
    width: 190px;
    height: 55px;
    background-color: var(--black2__bg);
    color: var(--white__color);
    border: none;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.questions__myform-submit:hover{
    background-color: #F7654A;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .firstline{
        flex-direction: column;
        margin: 0 auto;
    }
    .questions__myform-name{
        width: 540px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .questions__myform-mail{
        width: 540px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .questions__myform-name{
        width: 250px;
    }
    .questions__myform-mail{
        width: 250px;
    }
    .questions__myform-message {
        width: 250px;
    }
 
}


.footer {
    background-color: var(--black2__bg);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__flexbox-left-item {
   margin-left: 20px;
}
.footer__h3 {
    margin-bottom: 20px;
}
.footer__p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.328px;
}
.footer__flexbox-right-item {
    display: flex;
    justify-content: space-between;
}

.footer__flexbox-right-item a{
    margin-right: 20px;
}
.footer__flexbox-right-item a:last-child{
    margin-right: 0;
}

@media screen and (max-width: 1280px) {
    .footer__flexbox-left-item {
        margin-left: 15px;
     }
     .footer__flexbox-right-item {
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .footer__flexbox {
        flex-direction: column;
        text-align: center;
    }
    .footer__flexbox-left-item {
        margin-bottom: 10px;
     }
     .footer__flexbox-right-item {
        margin: 0 auto;
        
    }
}








/*MENU*/
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .sidenav .collapsible,
  .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }

  .sidenav {
    cursor: pointer;
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  
  .sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }

  

  
  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  
  @media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }
  @media screen and (max-width: 768px) {
    .footer__flex{
        text-align: center;
        flex-direction: column;
    }
}
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }
  

  .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }
  nav i,
  nav [class^="mdi-"], nav [class*="mdi-"],
  nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }
  nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
    height: inherit;
    line-height: inherit;
  }
  .input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}
.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }


  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }
  .circle {
    border-radius: 50%;
  }
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  .black-text {
    color: #000000 !important;
  }
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  .sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
  }
  
  ul:not(.browser-default) > li {
    list-style-type: none;
  }
  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
  }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
  a {

    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }


  /*PORTFOLIO */
  .materialboxed {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden;
  }
  
  .materialboxed:hover:not(.active) {
    opacity: .8;
  }
  
  .materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  .carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}













.burger{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--black__color);
    border: none;
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line{
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white__color);
    margin-bottom: 4px;
}
.burger__line:last-child{
    margin-bottom: 0;
}
@media screen and (max-width: 1280px) {
   
    .burger{
        display: flex;
    }
}



  /*PORTFOLIO */
  .materialboxed {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden;
  }
  
  .materialboxed:hover:not(.active) {
    opacity: .8;
  }
  
  .materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  .carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}


.black__theme-sidenav{
  background-color: #A0D2EB !important;
}


.logo{
  margin-left: 16px;
  color: var(--white__color);
text-align: center;
font-family: 'Revalia';
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 96px;
height: 60px;
flex-shrink: 0;
}